In [18]:
#Ana√Øs_fragne
#1/a.
#b.

my_list=[i for i in range(100)]
#print(my_list)
for i in range(100):
    if (i+1)%3==0 and (i+1)%5==0:
        print ('Hello World')
        my_list[i]='Python Works'
    elif (i+1)%3==0:
        print('Hello')
        my_list[i]='Python'
    elif (i+1)%5==0:
        print('World')
        my_list[i]='Works'
    else:
        print(i+1)
        my_list[i]=i+1
my_tuple=tuple(my_list)
print(my_tuple)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
Hello World
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
Hello World
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
Hello World
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
Hello World
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
Hello World
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
Hello World
91
92
Hello
94
World
Hello
97
98
Hello
World
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'Python Works', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'Python Works', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'Python Works', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'Python Works', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'Python Works', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'Python Works', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

In [29]:
#2/
y=input("Enter the variable x:\n")
x=input("Enter the variable y:\n")


print('x=',x)
print('y=',y)

Enter the variable x:
3
Enter the variable y:
5
x= 5
y= 3

In [28]:
#3/
import math
def dist(u,v):
    dist1=((v[0]-u[0])**2)+((v[1]-u[1])**2)
    dist=math.sqrt(dist1)
    print(dist)
u=(3,4)
v=(5,6)
dist(u,v)

2.8284271247461903

In [43]:
#4/
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"


def occurs(s):
    count={}
    s=s.lower()
    for i in s:
        if i in count:
            count[i]+=1
        else:
            count[i]=1
    print('occurs_: ',count)
occurs(s1)
occurs(s2)

occurs_:  {'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}
occurs_:  {'t': 2, 'h': 2, 'e': 3, ' ': 8, 'q': 1, 'u': 2, 'i': 1, 'c': 1, 'k': 1, 'b': 1, 'r': 2, 'o': 4, 'w': 1, 'n': 1, 'f': 1, 'x': 1, 'j': 1, 'm': 1, 'p': 1, 's': 1, 'v': 1, 'l': 1, 'a': 1, 'z': 1, 'y': 1, 'd': 1, 'g': 1}

In [22]:
#5/
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
print(len(l))
def occurs(s):
    count={}
    #s=s.lower()
    for i in s:
        if i in count:
            count[i]+=1
        else:
            count[i]=1
    return count
print(type(occurs(l)))
def count(l):
    dict=occurs(l)
    list=[]
    for a in dict:
        if dict[a]==1:
            list.append(a)
    return list

print("number: " ,len(count(l)), count(l))

#----------------------

def occurs(s):
    count={}
    #s=s.lower()
    for i in s:
        if i in count:
            count[i]+=1
        else:
            count[i]=1
    return count
print(len(occurs(l)))

#-------Python data structure----------------

num_values = len(set(l))
print('num_values: ',num_values)

80
<class 'dict'>
number:  37 [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
54
num_values:  54

In [30]:
#6
def q6(a,b):
    try:
        c = a + b
        print(c)
    except:
        print("this sum is not a number")
        
q6(3,2)
q6(4,'2')

5
is not a number

sum is not possible

In [23]:
#7
l=[i**3 for i in range(11)]
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [1]:
#8
a = []
for i in range(3):
    for j in range(4):
        a.append((i, j))
print(a)

#---------with list comprehension

l=[(i,j) for i in range(3) for j in range(4)]
print(l)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]
[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [28]:
#9

#-----without nested list
   
def triplet(n): 
  for c in range(n):
    for b in range(c):
      for a in range(b):
        if c*c == a*a + b*b:
          print(a, b, c)
n=100
triplet(n)
#----with nested list

t=[(a,b,c) for c in range(100) for b in range(c) for a in range(b) if c*c == a*a + b*b]
t=tuple(t)
print(t)

3 4 5
6 8 10
5 12 13
9 12 15
8 15 17
12 16 20
15 20 25
7 24 25
10 24 26
20 21 29
18 24 30
16 30 34
21 28 35
12 35 37
15 36 39
24 32 40
9 40 41
27 36 45
30 40 50
14 48 50
24 45 51
20 48 52
28 45 53
33 44 55
40 42 58
36 48 60
11 60 61
39 52 65
33 56 65
25 60 65
16 63 65
32 60 68
42 56 70
48 55 73
24 70 74
45 60 75
21 72 75
30 72 78
48 64 80
18 80 82
51 68 85
40 75 85
36 77 85
13 84 85
60 63 87
39 80 89
54 72 90
35 84 91
57 76 95
65 72 97
((3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (45, 60, 75), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97))

In [15]:
#10
from numpy import linalg as la
import numpy as np
import math as m
N=10
arr = np.random.rand(N)
print(arr)
normalized_vector = arr / np.linalg.norm(arr)
print('normalized_vector= ',normalized_vector)

#-----without numpy
import random
arr2=tuple(random.random() for i in range(N))
print('arr2= ',arr2)
norm=m.sqrt(sum(i**2 for i in arr2))
print('norm= ',norm)
normalized2=tuple(e/norm for e in arr2)
print('normalized2= ', normalized2)

[0.66447229 0.44542221 0.58887846 0.34612468 0.57616272 0.78363667
 0.15285598 0.55933965 0.75263133 0.11662497]
normalized_vector=  [0.38564154 0.25851086 0.34176895 0.20088129 0.33438908 0.45480129
 0.08871343 0.32462543 0.43680663 0.06768594]
arr2=  (0.5645018896783845, 0.42076543771899544, 0.16725277564045793, 0.3679506019227601, 0.7528896376373634, 0.8052470031302954, 0.5629650102839938, 0.8517306280845195, 0.7797958336225991, 0.6595653081591978)
norm=  1.989928445808978
normalized2=  (0.2836794915250805, 0.21144752144489248, 0.08404964308777625, 0.18490644862015368, 0.37835010561461996, 0.40466128559860515, 0.28290716255132886, 0.4280207310360148, 0.39187129329446, 0.33145177131786796)

In [3]:
#11
l=[]
f=0
fp=1
for i in range(20):
    if i<=1:
        l.append(i)
    else:
        fpp=f+fp
        f=fp
        fp=fpp
        l.append(fpp)
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]